.service-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-icon {
  margin-bottom: 10px;
}

.service-images {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.service-image {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

@keyframes light-move {
  0% {
    border-color: rgba(0, 128, 128, 1); /* Teal */
    box-shadow: 0 0 5px rgba(0, 128, 128, 1);
  }
  25% {
    border-color: rgba(0, 128, 128, 1);
    box-shadow: 5px 5px 5px rgba(0, 128, 128, 1);
  }
  50% {
    border-color: rgba(0, 128, 128, 1);
    box-shadow: 0 0 15px rgba(0, 128, 128, 0.5);
  }
  75% {
    border-color: rgba(0, 128, 128, 1);
    box-shadow: -5px -5px 5px rgba(0, 128, 128, 1);
  }
  100% {
    border-color: rgba(0, 128, 128, 1);
    box-shadow: 0 0 5px rgba(0, 128, 128, 1);
  }
}

.animate-light {
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  animation: light-move 2s linear infinite;
}
